<h1 mat-dialog-title>Add file</h1>
<div dialog-draggable-attr class="icon-text">
    <!-- <h1 mat-dialog-title>Hi, {{data.name}}</h1> -->
    <span mat-dialog-title>Hi, {{user}}</span>
    <!-- <mat-icon (click)="close()">cancel</mat-icon> -->
  
    <button mat-icon-button style="text-align: right">
      <mat-icon (click)="close()">cancel</mat-icon>
    </button>
  
</div>

<div mat-dialog-content>
  <div class="divMessages" #divMessages>
  </div>
  <div *ngFor="let message of messages">
    {{message}}
  </div>
  
<mat-form-field>
    <span><i *ngIf="isTyping" class="isTyping">typing...</i></span>
    <input matInput [(ngModel)]="message" placeholder="comment"  (keypress)="typing()" (keyup)="$event.keyCode == 13 && sendMessage()">
</mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button [disabled]="!this.message || this.message==''" (click)="sendMessage()" cdkFocusInitial>Send</button>
</div>

<!-- <h1 mat-dialog-title>Add file</h1>
    <mat-dialog-content>
      Content goes here
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button>Add</button>
      <button mat-button>Cancel</button>
    </mat-dialog-actions> -->